$color1: black; 
$color2: #47A1B3; 
$color3: #95B0B6; 
$color4: white; 
$colorazulverdoso: #324B50;
$coloryellow: #EEE8A9;
$colorceleste: #E7FDFF;
$colorlila: #A28CBB;

$font1:'Bangers', cursive;
$font2:'Koulen', cursive;


*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

@import "_index";
@import "_pages";
@import "_productos";





