*{
    margin: 0px;
    padding: 0px;
    /*background-color: rgba(3, 102, 194, 0.212);
    color: white;
    border: 2px solid white;
    text-align: center;
    font-size: 12px;*/
}

.unihogar12 {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1.9fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/***** ESTILOS DE LA BARRA NAVEGADORA Y DEL BANNER ****/
.header {  display: grid;
  grid-template-columns: 1.4fr 0.9fr 1.2fr 0.5fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "menu social search cart"
    "banner banner banner banner";
  grid-area: header;
  /*height: 370px;*/
  background-color: black;

}

.banner { 
  height: 300px;
  grid-area: banner; 
  background-image: url(../bannerempresawide.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;

}

.menu { grid-area: menu;
    height: 70px;
  background-color: black;
  text-align: center;
  object-position: center;

}

/*GRID DE LAS REDES SOCIALES* !Advertencia: cuando agrego las imagenes en el html no puedo hacer que encuadren dentro del recuadro previsto en el grid para esos iconos, sino que se rompe el grid y toma el tamaño de la imagen, es decir no se que propiedad tengo que usar, porque le pongo la de object fit cover o contain y no me lo reduce al tamaño del recuadro*/
.social {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "fb ig mp";
  grid-area: social;
  height: 65px;
  background-color: black;
}

.fb { grid-area: fb; 
  background-image: url(../images/logofacebookcolor.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;


  
}

.ig { grid-area: ig; 
  background-image: url(../images/logoinstacolor.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;

}

.mp { grid-area: mp; 
  background-image: url(../images/logomapscolor.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;

}


/*GRID DEL BUSCADOR !Advertencia: aquí me suceden tres cosas, la primera de ellas es que no puedo reducir el cuadro del grid al tamaño del icono de la lupa, la segunda es que el recuadro de busqueda que se activa con del dropdown no queda encajado dentro del recuadro previsto para el grid "busqueda y por último cuando hago click en el buscador se desactiva el carrusel...no se porque me pasa eso...*/

.search {  /*display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "ic searchform";
  grid-area: search;*/
  height: 65px;
  background-color: black;


}

.ic { grid-area: ic;
  background-color: black;

}

/*.searchform { grid-area: searchform;}*/


/*GRID DEL CARRITO DE COMPRAS*/
.cart { 
  grid-area: cart;
  height: 65px;
  background-image: url(../images/carronegreo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;

}

.main {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 1.5fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "carrusel"
    "catalogo"
    "masvendidos"
    "ofermes"
    "flash";
  grid-area: main;
}

/*Grid del CARRUSEL - !Advertencia: las imágenes les tuve que dar un alto y ancho por cuanto cuando las agregaba son enormes y se salian del recuadro, no se como hacer para que las imágenes queden dentro del contenedor*/
.carrusel { 
  grid-area: carrusel;
  background-color: black;
  text-align: center;
}


.catalogo {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "h1 h2 h3 h4 h5 h6 h7";
  grid-area: catalogo;
  font-size: 36px;
  background-color: rgba(15, 129, 206, 0.418);
  font-weight: bolder;
 
}


.c1 { grid-area: h1;
 transition: width 2s, height 2s, transform 2s;
 text-align: center;
 text-transform: uppercase;
 margin: 15px 15px 15px 15px;

}

.c1:hover {
  transform: scale(1.1);
  background-color: black;
}

.c2 { grid-area: h2;
  transition: width 2s, height 2s, transform 2s;
  text-align: center;
 text-transform: uppercase;
 margin: 15px 15px 15px 15px
}

.c2:hover {
  transform: scale(1.1);
  background-color: black;

}

.c3 { grid-area: h3;
  transition: width 2s, height 2s, transform 2s;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 15px 15px 15px
}

.c3:hover {
  transform: scale(1.1);
  background-color: black;

}

.c4 { grid-area: h4; 
  transition: width 2s, height 2s, transform 2s;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 15px 15px 15px
}

.c4:hover {
  transform: scale(1.1);
  background-color: black;

}

.c5 { grid-area: h5; 
  transition: width 2s, height 2s, transform 2s;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 15px 15px 15px
}

.c5:hover {
  transform: scale(1.1);
  background-color: black;

}

.c6 { grid-area: h6; 
  transition: width 2s, height 2s, transform 2s;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 15px 15px 15px

}

.c6:hover {
  transform: scale(1.1);
  background-color: black;

}

.c7 { grid-area: h7;
  transition: width 2s, height 2s, transform 2s;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 15px 15px 15px
}

.c7:hover {
  transform: scale(1.1);
  background-color: black;

}


.masvendidos {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titulo1 titulo1 titulo1"
    "producto1 producto2 producto3";
  grid-area: masvendidos;
}

.titulo1 { grid-area: titulo1;
  background-image: linear-gradient(to right, rgb(148, 148, 148), rgb(0, 0, 0));
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
}

.producto1 { grid-area: producto1;
transition: transform 4s;
background-image: url(../images/productos/22003Q03364-KC_0.jpg);
background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0, 0, 0);
}

/*!Advertencia: en este caso me gustaría que el carrito con el precio se ponga cuando termina de posicionarse la foto en 180 grados, pero por mas que modifique el ease o el step out no lo puedo lograr.*/
.producto1:hover{
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.397);
  text-align: center;
  transition: 5s;
  background-image: url(../images/basket-shopping-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.producto2 { grid-area: producto2;
  transition: transform 4s;
  background-image: url(../images/productos/51011G20021-H_0.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0, 0, 0);
  

}

.producto2:hover{
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.397);
  text-align: center;
  transition: 5s;
  background-image: url(../images/basket-shopping-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.producto3 { grid-area: producto3;
  transition: transform 4s;
  background-image: url(../images/productos/43001C79994-M_0.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0, 0, 0);
  

}

.producto3:hover{
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.397);
  text-align: center;
  transition: 5s;
  background-image: url(../images/basket-shopping-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.ofermes {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titulo2 titulo2 titulo2"
    "producto4 producto5 producto6";
  grid-area: ofermes;
}

.titulo2 { grid-area: titulo2; 
  background-image: linear-gradient(to right, rgb(148, 148, 148), rgb(0, 0, 0));
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
}

.producto4 { grid-area: producto4; 
  transition: transform 4s;
  background-image: url(../images/productos/60101R20787-B_0.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0, 0, 0);

}

.producto4:hover{
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.397);
  text-align: center;
  transition: 5s;
  background-image: url(../images/basket-shopping-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.producto5 { grid-area: producto5; 
  transition: transform 4s;
  background-image: url(../images/productos/64011Z20793-B_0.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0, 0, 0);
  

}

.producto5:hover{
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.397);
  text-align: center;
  transition: 5s;
  background-image: url(../images/basket-shopping-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.producto6 { grid-area: producto6;
  transition: transform 4s;
  background-image: url(../images/productos/A046-3-ROSE.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0, 0, 0);
}

.producto6:hover{
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.397);
  text-align: center;
  transition: 5s;
  background-image: url(../images/basket-shopping-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.flash {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titulo3 titulo3 titulo3"
    "producto7 producto8 producto9";
  grid-area: flash;
}

.titulo3 { grid-area: titulo3;
  background-image: linear-gradient(to right, rgb(148, 148, 148), rgb(0, 0, 0));
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
}

.producto7 { grid-area: producto7;
  transition: transform 4s;
  background-image: url(../images/productos/71001A01720-RL_0.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0, 0, 0);
  

}

.producto7:hover{
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.397);
  text-align: center;
  transition: 5s;
  background-image: url(../images/basket-shopping-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.producto8 { grid-area: producto8;
  transition: transform 4s;
  background-image: url(../images/productos/23901I76417-KN_0.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0, 0, 0);
  

}

.producto8:hover{
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.397);
  text-align: center;
  transition: 5s;
  background-image: url(../images/basket-shopping-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.producto9 { grid-area: producto9;
  transition: transform 4s;
  background-image: url(../images/productos/22063K00041-H_0.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0, 0, 0);

}

.producto9:hover{
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.397);
  text-align: center;
  transition: 5s;
  background-image: url(../images/basket-shopping-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.footer {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    /*"prefooter prefooter prefooter"*/
    "gps aboutus tutorial"
    "googlemaps textaboutus videosyt";
  grid-area: footer;
}

.prefooter { /*grid-area: prefooter*/
  display: none;
}

.gps { 
  grid-area: gps; 
  background-image: linear-gradient(to right, rgb(148, 148, 148), rgba(15, 160, 204, 0.466));
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;


}

.aboutus { 
  grid-area: aboutus; 
  background-image: linear-gradient(to right, rgb(148, 148, 148), rgba(15, 160, 204, 0.466));
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;

}

.tutorial { grid-area: tutorial; 
  background-image: linear-gradient(to right, rgb(148, 148, 148), rgba(15, 160, 204, 0.466));
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;

}

.googlemaps { 
  grid-area: googlemaps; 
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.226), rgba(122, 122, 122, 0.356), rgba(6, 156, 202, 0.5))

}

.textaboutus { 
  grid-area: textaboutus;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.226), rgba(122, 122, 122, 0.356), rgba(6, 156, 202, 0.5))

}

.videosyt { 
  grid-area: videosyt;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.226), rgba(122, 122, 122, 0.356), rgba(6, 156, 202, 0.5))


}


/****** VERSION MOBILE *******/
@media  only screen and (max-width:576px) {
 
  .header { display: grid;
    grid-template-columns: 1.4fr 0.9fr 1.2fr 0.5fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "banner banner banner banner"
      "menu menu search cart";
    grid-area: header;
    height: 270px;
  }
  
  .banner { 
    height: 150px;  
  }
  
  .menu { grid-area: menu;
      height: 53px;
  }

  .navbar-brand{
    display: none;
  }
  
  .social {  display:none;}
    
  .search { display: grid;
    grid-template-columns: 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "ic";
    grid-area: search;
    height: 53px
  
  }
 
  .searchform {display: none;}
  
  .cart { 
    height: 53px 
  }
  
  .main {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 1.5fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "carrusel"
      /*"catalogo"*/
      "masvendidos"
      "ofermes"
      "flash";
    grid-area: main;
    height: 600px;


  }
  
  .carrusel { 
    grid-area: carrusel;
    background-color: black;
    height: 300px;
  
  }
  
  
  .catalogo {  display: none; }
  
  .masvendidos {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titulo1 titulo1 titulo1"
      /*"producto1 producto2 producto3"*/;
    grid-area: masvendidos;
    height: 100px;
  }
  
  .titulo1 { grid-area: titulo1;
  height: 100px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.849), rgba(15, 160, 204, 0.466));

    background-position: center;
    background-size: cover;
    color: black;
    font-size: 40px;
    text-decoration: double;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 25px;

}
  
  .producto1 { display: none; }
  
  .producto2 { display: none; }
  
  .producto3 { display: none; }
  
  .ofermes {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titulo2 titulo2 titulo2"
      /*"producto4 producto5 producto6"*/;
    grid-area: ofermes;
    height: 100px;
  }
  
  .titulo2 { grid-area: titulo2;
    height: 100px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.849), rgba(15, 160, 204, 0.466));

    background-position: center;
    background-size: cover;
    color: black;
    font-size: 40px;
    text-decoration: double;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 25px;
  }
  
  .producto4 { display: none; }
  
  .producto5 { display: none; }
  
  .producto6 { display: none; }
  
  .flash {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titulo3 titulo3 titulo3"
      /*"producto7 producto8 producto9"*/;
    grid-area: flash;
    height: 100px;

  }
  
  .titulo3 { grid-area: titulo3;
    height: 100px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.849), rgba(15, 160, 204, 0.466));

    background-position: center;
    background-size: cover;
    color: black;
    font-size: 40px;
    text-decoration: double;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 25px;
    
  }
  
  .producto7 { display: none; }
  
  .producto8 { display: none; }
  
  .producto9 { display: none; }
  

  /*!Advertencia: no se porque motivos si está previsto que se vea el pre-footer que sería el footer de la version mobile y que se veria cuando el ancho entrara en el media queries, no se visualiza, no entiendo donde está el problema.*/

  .footer {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr /*0.5fr 2fr*/;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "prefooter prefooter prefooter"
      /*"gps aboutus tutorial"
      "googlemaps textaboutus videosyt";*/
  }
  

  .prefooter { grid-area: prefooter; 
  background-color: black;
  height: 50px;
}
  
  .gps { display: none; }
  
  .aboutus { display: none; }
  
  .tutorial { display: none; }
  
  .googlemaps { display: none; }
  
  .textaboutus {display: none; }
  
  .videosyt { display: none; }
  
  

  
}